@model WebApplication1.Models.Appointments

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAppointment">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
